/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #E5D9F2;
}

nav {
    background-color: #CAA8F5;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

a {
    color: black;
    font-family: "Grape Nuts", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s ease;
}

a:hover {
    background-color: #7560df;
    color: white;
}

input {
    display: flex;
    justify-content: flex-end;
}


button:hover {
    background-color: red;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

img {

    height: 60px;
    position: relative;
    right: 250px;
}

main {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Logo style */
.picture {
    height: 290px;
    position: relative;
    left: 200px;
    top: 60px;

}

.pic {
    height: 400px;
}

/* Boxes styles */
#box1 {
    position: relative;
    margin-bottom: 30px;
    height: 500px;
    width: 400px;
    background-color: yellow;
    border: 3px solid black;
    background-image: url(Images/anime1.jpg);
    background-size: cover;
    margin-bottom: 50px;
}