/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #E5D9F2;
}

nav {
    background-color: #CAA8F5;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

a {
    color: black;
    font-family: "Grape Nuts", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s ease;
}

a:hover {
    background-color: #7560df;
    color: white;
}

img {

    height: 60px;
    position: relative;
    right: 250px;
}

main {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
