/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5D9F2;
}

nav {
    background-color: #CAA8F5;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

a {
    color: black;
    font-family: "Grape Nuts", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s ease;
}

.tracking-in-contract a:hover {
    background-color: #7560df;
    color: white;
}

input {
    display: flex;
    justify-content: flex-end;
}

img {
    right: 250px;
}

main {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Logo style */
.picture {
    height: 290px;
    position: relative;
    left: 200px;
    top: 60px;

}

/* Boxes styles */
#box1, #box2, #box3, #box4, #box5, #box6 {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: yellow;
    border: 3px solid black;
    background-size: cover;
    margin-bottom: 50px;
}

#box1 {
    background-image: url(../images/naruto.webp);
}

#box2 {
    background-image: url(/assets/images/jujutsu.webp);
}

#box3 {
    background-image: url(/assets/images/one_piece.webp);
}

#box4, #box5, #box6 {
    margin-bottom: 30px;
    margin-top: 60px;
}
#box4 {
  
    background-image: url(/assets/images/dragon_ball.webp);
}

#box5 {
    background-image: url(/assets/images/demon_slayer.webp);
}

#box6 {
    background-image: url(/assets/images/deathnote.webp);
}

p {
    background-color: black;
    color: red;
    text-align: center;
    height: 30px;
}

/* Footer */
footer, #footer {  
    background-color: #730071;
    border: 3px solid black;
    border-radius: 5%;
}

footer {
    margin-top: 5px;
}

#footer {
    margin-top: 75px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i>a {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
    opacity: 0.8;
}

/* Hover effect */
#social-networks a:hover {
    background-color: #7560df;
    color: white;
    opacity: 1;
}

.description-card {
    position: absolute;
    /* Position outside the box flow */
    top: 100%;
    /* Start below the box */
    left: 0;
    height: 100px;
    background-color: #000000;
    padding: 10px;
    border-radius: 20%;
    border: 1px solid #ccc;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
    /* Add a smooth reveal effect */
}

.text {
    color: #df0707;
    text-align: center;
    background-color: #000000;
    border: 3px solid red;
}

/* Signup Form */
#signup {
    background-image: url(/assets/images/allanime2.webp);
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    height: 1200px;
}

#signup-form {
    color: black;
    background-color: #B18FCF;
    padding: 30px;
    width: 25%;
    border: 2px solid yellowgreen;
    height: 50%;
}

/* Signup hover effect */
#signup-form:hover {
    border: 5px solid coral;
    border-radius: 9%;
    transition: all ease-in-out 1s;
}

.text-input {
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #e64804;
    color: #000000;
}

/* Contact us page */

#contact {
    height: 100vh;
    width: 100%;
}

#contact_image {
    height: 70%;
    width: 100%;
    border: 5px solid black;
    background-image: url(/assets/images/gokuui.webp);
    background-size: cover;
    background-position: bottom;
}

/* Parent of contact_me and about_me */
#contact_here {
    display: flex;
    height: 30%;
    width: 100%;
}

#contact_me, #about_me {
    width: 50%;
    height: 300px;
    border: 5px solid black;
}


#about_me p, #contact_me p {
    font-family: 'Lato', sans-serif;
    color: black;
    padding: 15px;
    background-color: #A0DDFF;
    margin: 10px;
    border: 2px solid black;
}

#contact_me p {
    height: 40px; 
}

#about_me p {
    height: 100px; 
}

#about_me h3, #contact_me h3 {
    font-size: 2em;
    text-align: center;
}

#contact #contact_me p:hover, #about_me p:hover  {
    background-color: #A42CD6;
    color: white;
}

/* About Us */

#about {
    height: 100vh;
    width: 100%;
}

#about_image {
    height: 80%;
    width: 100%;
    border: 5px solid black;
    background-image: url(/assets/images/all_anime.webp);
    background-size: cover;
}

#company p {
    font-family: "Grape Nuts", cursive;
    background-color: #E5D9F2;
    border: 2px solid black;
    height: fit-content;
    color: black;
}

#company h1 {
    text-align: center;
}

/* Home Page*/
.homepage {
    border-radius: 10px;
    border: 2px solid black;
    background-color: #CAA8F5;
}

   /*  Between 576px and 200px */ 

@media screen and (max-width: 576px) and (min-width: 190px) {
    .pic img{
      width: 50%; /* Adjust width as needed for smaller screens */
      height: 30%; 
      margin-left: -90px;
      margin-bottom: 55px;   
    }
    .pic{
      width: 100%; 
      height: 100%;
      margin-bottom: 35px;
    }

    #box1,#box2,#box3,#box4,#box5,#box6{
      width: 200px; /* Adjust width as needed for smaller screens */
      height: 300px;
    }

    #box4,#box5,#box6{
      margin-bottom: -20px;
    }

    #box4 {
      margin-top: 20px;
    }
    
    .anime:hover .description-card, .text {
      display: none;
    }

    a {
      font-size: 12px;
    }

    nav {
      height: 70px;
    }
    
    /* Sign up form */
    #signup-form {
      color: white;
      background-color: #B18FCF;
      padding-left: 10px;
      width: 70%;
      height: 55%;
      border: 2px solid yellowgreen;
    }
    
    /* Contact Us */ 
    #contact_image {
        height: 80%;
        width: 100%;
        border: 5px solid black;
        background-image: url(/assets/images/gokuui.webp);
        background-size: cover;
        background-position: bottom;
    }

    #contact_me, #about_me {
        height: 471px;
        border: 5px solid black;
    }

    #contact #contact_me p {
        height: 120px;
        color: black;
        margin-top: 40px;
        margin: 3px;
        font-family: none;
        text-align: start;
    }

    #about_me h3, #contact_me h3  {
        text-align: center;
        margin-top: 10px;
    }

    #about_me p {
        height: 365px;
        width: 45%;
        color: black;
        position: absolute;
        margin-left: 1px;
    }
}

  /*  Between 768px and 577px */

  @media screen and (max-width: 770px) and (min-width: 577px) {
    nav {
        width: 100%;
    }

    #box1,#box2,#box3,#box4,#box5,#box6{
        width: 300px; /* Adjust width as needed for smaller screens */
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
    }
    
    /* Fixing the 4th box */
    #box4 {      
      margin-top: auto;
    }

    .pic img{
        width: 60%; /* Adjust width as needed for smaller screens */
        margin-left: -90px;
        margin-bottom: 55px;   
      }
      
      .anime:hover .description-card, .text {
        display: none;
    }

    /* Signup Form */

    #signup-form {
      color: white;
      background-color: #B18FCF;
      padding: 30px;
      width: 45%;
      height: 50%;
      border: 2px solid yellowgreen;
}

    #about_me p {
      height: 200px;
      width: 40%;
      color: black;
      font-family: "Grape Nuts", cursive;
      position: absolute;
      top: 770px;
      margin-left: 10px;
} 

    #contact #contact_me p {
      height: 60px;
      color: black;
      margin-top: 40px;
      margin: 15px;
      font-family: none;
  }

    #about_image {
      height: 80%;
      width: 100%;
      background-size: cover;
}

}